.sidebar {
  background-color: #00102f;
  padding: 20px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff;
  overflow-y: scroll;
  .logo {
    img {
      width: 100%;
    }
  }
  .menu {
    padding-left: 0;
    &list {
      padding: 20px 0;
      ul {
        list-style-type: none;
        .menu-item {
          position: relative;
          padding: 15px 0;
          cursor: pointer;
          a,
          &.link {
            font-size: 24px;
            font-weight: 500;
            padding-right: 5rem;
            color: #fff;
            text-decoration: none;
            display: block;
          }
        }
        .active {
          z-index: 8;
          li {
            color: #000;
          }
          a {
            color: #000;
            position: relative;
            z-index: 9;
          }
        }
        .active::after {
          content: "";
          background-size: cover;
          position: absolute;
          top: -18px;
          right: -20px;
          width: 15rem;
          height: 5rem;
          z-index: -1;
        }
        .submenu {
          padding-left: 30px;
          div {
            padding: 15px 0;
            a {
              color: #fff !important;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
